<h1>
    <a (click)="getSurveys()">Gérez vos questionnaires !</a>
  </h1>

  <div class="row">
      <div class="col-sm-12" id="btn1">
        <button type="button" class="btn btn-info" (click)="open()">Créer un nouveau questionnaire</button>
      </div>
    </div>

    <hr>
<div class="row">
  <div class="col-sm-12">
    <h4>Sélectionnez un questionnaire:</h4>
   essai affiche SurveyList {{surveyListR | json}} --


    <a class="a1" *ngFor="let elem of surveyListR">
      <p>essai affichage formulaires</p>
      <button (click)="open(elem)" id="btn2">  
      {{elem['nomForm']}}  </button>
      <a class="glyphicon glyphicon-trash" (click)="delete(elem)"></a>
    </a>
  </div>
</div>
