<head>
  <script src="https://surveyjs.azureedge.net/1.0.17/survey.jquery.js"></script>
</head>

<!-- <div class="modal-header">Saisie du formulaire</div> -->
<div class="modal-body">


  <!--Fabrique le survey-->
  <div class="survey-container contentcontainer codecontainer"> 
    <div id="surveyElement">

    </div>

  </div>

  <!--Remplit le survey-->
  <div class="survey-container contentcontainer codecontainer"> <!--questionnaire rempli, ce qui est renvoyé au "complete"-->
    <div id="surveyResult"></div>
  </div>

  

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="notify()">Sauvegarder</button>
    <button type="return" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Close click')">Retour</button>
  </div>